div .nav_container {
display: flex;
padding: 0;
background-color: rgba(0, 91, 128, 0.773);
margin: 0;
margin-bottom: 20px;
text-decoration: none;
/* font-weight: bold; */
font-size: 18px;
text-align: center;

}
.PageLink, .ActivePageLink {
    flex: 0 0 auto;
    padding: 10px 10px;
    text-decoration: none;
    margin: 0;
    position: relative;
    /* overflow: hidden; */
}

.PageLink {
    color: white;
}

.ActivePageLink {
    color: white;
    background-color: rgb(232 100 70 / 91%);
}

.PageLink:hover {
    background-color: rgb(3 114 158 / 77%);
}
.ActivePageLink:hover {
    background-color: rgb(232 100 70 / 91%);
}

@media all and (max-width: 450px) {
    div .nav_container {
        flex-flow: column nowrap;
		align-items: stretch;
		height: auto;
    }

    .PageLink, .ActivePageLink {
        border-top: 2px solid rgba(255,255,255,0.3); 
       border-bottom: 2px solid rgba(0,0,0,0.1); 
}
}