.movieCards__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 60px;
  }
  
  .movieCards__container > * {
    margin-bottom: 30px;
  }

  .pagination__container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    
  }

  .pagination__container > .selectedTab,
  .pagination__container > .tab {
    text-decoration: none;
  }

  .pagination__container > .selectedTab {
    padding: 10px;
    /* border: 2px solid rgb(134, 126, 126); */
    font-weight: bold;
    background-color: rgba(5, 29, 39, 0.773);
    color: white;
  }



  .pagination__container > .tab {
    padding: 10px;
    cursor: pointer; 
    background-color: rgba(0, 91, 128, 0.773);
    color: white;
  }

  .pagination__container > .tab:hover {
    background-color: rgba(11, 51, 66, 0.773);
  }
  