.allCollection__container {
    text-align: center;
}
.collection__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 60px;
  }
  
  .collection__container > * {
    margin-bottom: 30px;
  }

  